@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700')

*
    margin 0
    padding 0
    box-sizing border-box

    body
        font-family 'Source Code Pro', monospace

    .header
        height 325px

    .page-title
        font-weight 200
        font-size 80px
        text-align center
        padding-top 175px
        text-transform uppercase
        color #ff4d4d

    .nav
        background #ff4d4d
        height 90px
        text-align center

    .subtitle
        text-align center

    li
        display inline-block

    a
        margin-top 10px
        display inline-block
        padding 25px
        //background url(http://content.sportslogos.net/logos/34/854/full/4803_stanford_cardinal-primary-2014.pn://media.glassdoor.com/sqll/2989/stanford-university-squarelogo-1431968559974.png)
        //background-position center
        background-color #fff
        text decoration none

        &:hover
            background-color #ff4d4d
            text-decoration underline

     .main-content
        margin 50px auto
        max-width 600px

        p
            line-height 1.6
            margin-bottom 1.7em

    .footer
        margin 50px auto
        max-width 600px
        border-top 1px solid #444
        padding 20px 0

        p
            color #444
            font-size 12px
