@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body {
  font-family: 'Source Code Pro', monospace;
}
* .header {
  height: 325px;
}
* .page-title {
  font-weight: 200;
  font-size: 80px;
  text-align: center;
  padding-top: 175px;
  text-transform: uppercase;
  color: #ff4d4d;
}
* .nav {
  background: #ff4d4d;
  height: 80px;
  text-align: center;
}
* .subtitle {
  text-align: center;
}
* li {
  display: inline-block;
}
* a {
  margin: 5px 2.5px 5px 2.5px;
  display: inline-block;
  padding: 25px;
  background-color: #fff;
  text: decoration none;
}
* a:hover {
  background-color: #ff4d4d;
  text-decoration: underline;
}
* .main-content {
  margin: 50px auto;
  max-width: 600px;
}
* .main-content p {
  line-height: 1.6;
  margin-bottom: 1.7em;
}
* .footer {
  margin: 50px auto;
  max-width: 600px;
  border-top: 1px solid #444;
  padding: 20px 0;
}
* .footer p {
  color: #444;
  font-size: 12px;
}
