@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body {
  font-family: 'Source Code Pro', monospace;
}
* .header {
  height: 325px;
}
* .page-title {
  font-weight: 200;
  font-size: 80px;
  text-align: center;
  padding-top: 175px;
  text-transform: uppercase;
  color: #06c;
}
* .nav {
  background: #1ac6ff;
  height: 125px;
  text-align: center;
  animation: expand 0.75s;
  margin: 0px 0px 0px -4000px;
}
* .subtitle {
  text-align: center;
}
* li {
  display: inline-block;
  margin: 5px 2.5px 5px 2.5px;
  background-color: #fff;
  opacity: 0;
  animation: flyin 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}
* a {
  color: #1ac6ff;
  padding-top: 45px;
  display: inline-block;
  height: 115px;
  width: 115px;
  text-decoration: none;
}
* a:hover {
  background-color: #1ac6ff;
  color: #fff;
}
* .main-content {
  margin: 50px auto;
  max-width: 600px;
  color: #000;
}
* .main-content p {
  line-height: 1.6;
  margin-bottom: 1.7em;
}
* .footer {
  margin: 50px auto;
  max-width: 600px;
  border-top: 1px solid #444;
  padding: 20px 0;
}
* .footer p {
  color: #444;
  font-size: 12px;
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes expand {
  from {
    height: 0px;
    margin-top: 62.5px;
  }
  to {
    height: 125px;
    margin-top: 0px;
  }
}
@-webkit-keyframes expand {
  from {
    height: 0px;
    margin-top: 62.5px;
  }
  to {
    height: 125px;
    margin-top: 0px;
  }
}
@-o-keyframes expand {
  from {
    height: 0px;
    margin-top: 62.5px;
  }
  to {
    height: 125px;
    margin-top: 0px;
  }
}
@keyframes expand {
  from {
    height: 0px;
    margin-top: 62.5px;
  }
  to {
    height: 125px;
    margin-top: 0px;
  }
}
@-moz-keyframes flyin {
  from {
    position: relative;
    left: 4500px;
    opacity: 1;
  }
  to {
    position: relative;
    left: 1760px;
    opacity: 1;
  }
}
@-webkit-keyframes flyin {
  from {
    position: relative;
    left: 4500px;
    opacity: 1;
  }
  to {
    position: relative;
    left: 1760px;
    opacity: 1;
  }
}
@-o-keyframes flyin {
  from {
    position: relative;
    left: 4500px;
    opacity: 1;
  }
  to {
    position: relative;
    left: 1760px;
    opacity: 1;
  }
}
@keyframes flyin {
  from {
    position: relative;
    left: 4500px;
    opacity: 1;
  }
  to {
    position: relative;
    left: 1760px;
    opacity: 1;
  }
}
