@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body {
  font-family: 'Source Code Pro', monospace;
}
* .header {
  margin: 90px 0px 20px 0px;
  height: 320px;
}
* .page-title {
  font-weight: 200;
  font-size: 85px;
  text-align: center;
  padding-top: 175px;
  padding-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: #06c;
  opacity: 0;
  animation: fadein 1.5s;
  animation-fill-mode: forwards;
}
* .nav {
  background: #1ac6ff;
  height: 0px;
  text-align: center;
  margin: 62.5px 0px 0px -4000px;
  overflow: hidden;
}
* .subtitle {
  background: #fff;
  text-align: center;
  font-size: 20px;
  opacity: 0;
  animation: fadein 1.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  height: 30px;
  color: #000;
}
* lo {
  display: inline-block;
  background-color: #fff;
}
* .mini {
  color: #000;
  display: inline-block;
  text-decoration: none;
}
* .mini:hover {
  color: #1ac6ff;
  cursor: pointer;
}
* .mini-blue {
  color: #1ac6ff;
  display: inline-block;
  text-decoration: none;
}
* li {
  position: relative;
  left: 5250px;
  display: inline-block;
  margin: 5px 2.5px 5px 2.5px;
  background-color: #fff;
}
* .large-static {
  background-color: #fff;
  padding-top: 48.5px;
  display: inline-block;
  height: 115px;
  width: 115px;
}
* .large {
  font-size: 20px;
  color: #1ac6ff;
  padding-top: 45px;
  display: inline-block;
  height: 115px;
  width: 115px;
  text-decoration: none;
  cursor: pointer;
}
* .large:hover {
  background-color: #1ac6ff;
  color: #fff;
}
* .large-blue {
  font-size: 20px;
  background-color: #1ac6ff;
  color: #fff;
  padding-top: 45px;
  display: inline-block;
  height: 115px;
  width: 115px;
  text-decoration: none;
}
* .main-content {
  margin: 50px auto;
  max-width: 600px;
  color: #000;
}
* .main-content p {
  line-height: 1.6;
  margin-bottom: 1.7em;
}
* .footer {
  margin: 50px auto;
  max-width: 600px;
  border-top: 1px solid #444;
  padding: 20px 0;
}
* .footer p {
  color: #444;
  font-size: 12px;
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
