extend default

block nav-mini
    ul.subtitle
      lo: a.mini-blue(href = '#') About Me
      lo:  &nbsp;&nbsp;&middot;&nbsp;&nbsp;
      lo: a.mini(href = 'resume') Resume
      lo:  &nbsp;&nbsp;&middot;&nbsp;&nbsp;
      lo: a.mini(href = 'contact') Contact Me 

block nav-menu
    ul.nav-open
        li: a.large(href'/') &nbsp;
        li: a.large(href'/') &nbsp;
        li: a.large(href'/') &nbsp;
        li: a.large(href'/') &nbsp;
        li: a.large(href'/') &nbsp;
        li: a.large(href'/') &nbsp;
        li: a.large-blue(href'/') About Me
        li: a.large(href='/') &nbsp;
        li: a.large(href='#zd') &nbsp; 
        li: a.large(href='#th') &nbsp;
        li: a.large(href='#coursework') &nbsp; 
        li: a.large(href='#exp') &nbsp;
        li: a.large(href='#news') &nbsp;
        li: a.large(href='#about') &nbsp;
        li: a.large(href='#github') &nbsp;
        li: a.large(href='#linkedin') My Story
        li: a.large(href='#contact') My Goals


