extend default

block nav-menu
    ul.nav
        li: a.large(href'/') &nbsp;
        li: a.large(href'/') &nbsp;
        li: a.large(href'/') &nbsp;
        li: a.large(href'/') &nbsp;
        li: a.large(href'/') &nbsp;
        li: a.large(href'/') &nbsp;
        li: a.large-blue(href'/') About Me
        li: a.large(href='/') &nbsp;
        li: a.large(href='#zd') &nbsp; 
        li: a.large(href='#th') &nbsp;
        li: a.large(href='#coursework') &nbsp; 
        li: a.large(href='#exp') &nbsp;
        li: a.large(href='#news') &nbsp;
        li: a.large(href='#about') &nbsp;
        li: a.large(href='#github') My Story
        li: a.large(href='#linkedin') My Goals
        li: a.large(href='#contact') My Skills


