extend default

block nav-mini
    ul.subtitle
      lo: a.mini(href = 'about') About Me
      lo:  &nbsp;&nbsp;&middot;&nbsp;&nbsp;
      lo: a.mini(href = 'resume') Resume
      lo:  &nbsp;&nbsp;&middot;&nbsp;&nbsp;
      lo: a.mini(href = 'contact') Contact Me 

block nav-menu
    ul.nav-open
        li: a.large(href'/') &nbsp;
        li: a.large(href'/') &nbsp;
        li: a.large(href'/') &nbsp;
        li: a.large(href'/') &nbsp;
        li: a.large(href'/') &nbsp;
        li: a.large(href'/') &nbsp;
        li: a.large-blue(href'about') Contact Me
        li: a.large(href='/') &nbsp;
        li: a.large(href='#zd') &nbsp; 
        li: a.large(href='#th') &nbsp;
        li: a.large(href='#coursework') &nbsp; 
        li: a.large(href='#exp') Address
        li: a.large(href='#news') Linkedin
        li: a.large(href='#about') Facebook
        li: a.large(href='#github') Github
        li: a.large(href='#linkedin') Phone
        li: a.large(href='#contact') Email
        //li: a.large-blue(href'/') &nbsp;
        //li: a.large-blue(href'/') &nbsp;


