doctype html
html
    head
        link(rel='stylesheet', href='/css/index.css')
        title Jason zheng
    body
        .header
            h1.page-title Jason Zheng
            ul.subtitle
                lo: div.mini#a About Me
                lo:  &nbsp;&nbsp;&middot;&nbsp;&nbsp;
                lo: div.mini#r Resume
                lo:  &nbsp;&nbsp;&middot;&nbsp;&nbsp;
                lo: div.mini#c Contact Me
        ul.nav
            li: a.large(href'/') &nbsp;
            li: a.large-blue(href'/') About Me
            li: a.large(href'/') &nbsp;
            li: a.large(href'/') &nbsp;
            li: a.large(href'/') &nbsp;
            li: a.large(href'/') &nbsp;
            li: a.large(href'/') &nbsp;
            li: a.large(href='/') &nbsp;
            li: a.large(href='#') &nbsp; 
            li: a.large(href='#') &nbsp;
            li: a.large(href='#coursework') My Story 
            li: a.large(href='#exp') My Goals
            li: a.large(href='#news') &nbsp;
            li: a.large(href='#about') &nbsp;
            li: a.large(href='#github') &nbsp;
            li: a.large-blue(href='#linkedin') Resume
            li: a.large(href='#contact') &nbsp;
            li: a.large(href'/') &nbsp;
            li: a.large(href'/') &nbsp;
            li: a.large(href'/') &nbsp;
            li: a.large(href'/') Skills
            li: a.large(href='/') Classes
            li: a.large(href='#') Projects
            li: a.large(href='#') Groups
            li: a.large(href='#coursework') Education
            li: a.large(href='#exp') Download
            li: a.large(href='#news') &nbsp;
            li: a.large(href='#about') &nbsp;
            li: a.large(href='#github') &nbsp;
            li: a.large-blue(href'/') Contact Me
            li: a.large(href'/') &nbsp;
            li: a.large(href'/') &nbsp;
            li: a.large(href'/') &nbsp;
            li: a.large(href'/') &nbsp;
            li: a.large(href'/') &nbsp;
            li: a.large(href='/') &nbsp;
            li: a.large(href='#') Mailing 
            li: a.large(href='#') Github
            li: a.large(href='#coursework') Phone
            li: a.large(href='#exp') Email
            li: a.large(href='#') &nbsp;



        .main-content
            block content
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/main.js"></script>
