doctype html
html
    head
        link(rel='stylesheet', href='/css/index.css')
        title Jason Zheng
    body
        .header
            h1.page-title ason heng
            
        .main-content
            block content
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/main.js"></script>
