doctype html
html
    head
        link(rel='stylesheet', href='/css/index.css')
        title Jason zheng
    body
        .header
            h1.page-title Jason Zheng
            .subtitle Stanford University &middot; BS Computer Science 2020
        ul.nav
            li: a(href='/') Home
            li: a(href='#news') Goals
            li: a(href='#about') Resume
            li: a(href='#contact') Contact
        .main-content
            block content
