extend default

block nav-mini
    ul.subtitle
      lo: a.mini(href = 'about') About Me
      lo:  &nbsp;&nbsp;&middot;&nbsp;&nbsp;
      lo: a.mini-blue(href = '#') Resume
      lo:  &nbsp;&nbsp;&middot;&nbsp;&nbsp;
      lo: a.mini(href = 'contact') Contact Me 

block nav-menu
    ul.nav
        li-primary: a.large(href'/') &nbsp;
        li-primary: a.large(href'/') &nbsp;
        li-primary: a.large(href'/') &nbsp;
        li-primary: a.large(href'/') &nbsp;
        li-primary: a.large(href'/') &nbsp;
        li-primary: a.large(href'/') &nbsp;
        li-primary: a.large-blue(href'/') Resume
        li-primary: a.large(href='/') &nbsp;
        li-primary: a.large(href='#zd') &nbsp; 
        li-primary: a.large(href='#th') &nbsp;
        li-primary: a.large(href='#coursework') &nbsp; 
        li-primary: a.large(href='#exp') Skills
        li-primary: a.large(href='#news') Classes
        li-primary: a.large(href='#about') Projects
        li-primary: a.large(href='#github') Groups
        li-primary: a.large(href='#linkedin') Education
        li-primary: a.large(href='#download') &#xe025;


