extend default

block nav-menu
    ul.nav
        li: a.large(href'/') &nbsp;
        li: a.large(href'/') &nbsp;
        li: a.large(href'/') &nbsp;
        li: a.large(href'/') &nbsp;
        li: a.large(href'/') &nbsp;
        li: a.large(href'/') &nbsp;
        li: a.large-blue(href'/') Resume
        li: a.large(href='/') &nbsp;
        li: a.large(href='#zd') &nbsp; 
        li: a.large(href='#th') &nbsp;
        li: a.large(href='#coursework') &nbsp; 
        li: a.large(href='#exp') Skills
        li: a.large(href='#news') Classes
        li: a.large(href='#about') Projects
        li: a.large(href='#github') Groups
        li: a.large(href='#linkedin') Education
        li: a.large(href='#download') &#xe025;


